@use '../../../styles/constants/colors';

.chatRoom {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.chatBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: colors.$FAINTKEY;

  .chatScreen {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: block;
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: colors.$GRAY_300;
      border-radius: 8px;
    }
  }

  form {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 60px;
    padding: 10px;
    background: colors.$NEAR_WHITE;

    textarea {
      width: 100%;
      padding: 10px 40px 10px 10px;
      resize: none;
      background: colors.$FAINTKEY;
      border: none;
      border-radius: 10px;

      &::-webkit-scrollbar {
        display: block;
      }
    }

    button {
      position: absolute;
      right: 20px;
      font-weight: 700;
    }
  }
}

.messageInfoBox {
  position: relative;
  width: 100%;
  padding: 10px;
  text-align: center;

  .newDate {
    display: inline-block;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 700;
    background: colors.$LIGHTKEY;
    border-radius: 15px;
  }

  .messageBox {
    text-align: left;

    .nickName {
      margin-bottom: 8px;
      font-size: 18px;
      font-weight: 700;
    }

    div {
      display: flex;
    }

    .text {
      max-width: 250px;
      padding: 15px;
      margin-right: 5px;
      background: colors.$WHITE;
      border-radius: 8px 8px 8px 0;
    }

    .myText {
      max-width: 250px;
      padding: 15px;
      margin-left: 5px;
      background: colors.$WHITE;
      border-radius: 8px 8px 0;
    }

    .sentTime {
      align-self: flex-end;
      font-size: 13px;
    }
  }
}

.myMessageBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
