@use '../../../styles/constants/colors';

.chatRooms {
  width: 100%;
}

.chatRoomsHeader {
  position: relative;

  button {
    position: absolute;
    top: 15px;
    right: 30px;
    padding: 6px;
    color: colors.$NEAR_WHITE;
    background: colors.$KEY;
    border-radius: 8px;
  }
}
