@use '../../styles/constants/colors';
@use '../../styles/constants/measures';

.gnb {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100%;
  padding: 10px 15px;
  color: colors.$WHITE;
  text-align: center;
  background: colors.$KEY;

  .mainName {
    height: measures.$HEADER;
    padding: 20px 0;
    font-size: 25px;
    font-weight: 700;
    border-bottom: 1px solid colors.$NEAR_WHITE;
  }

  ul {
    height: 100%;
    margin: 80px 0 0;

    li {
      width: 100%;
      padding: 20px 0;
      margin-bottom: 40px;
      font-size: 20px;
      border-radius: 12px;
    }
  }
}

.link {
  display: block;
  width: 100%;
  padding: 20px 0;
  color: colors.$NEAR_WHITE;
  border-radius: 8px;
  transition: 0.2s;

  &:hover {
    color: colors.$KEY;
    background: colors.$NEAR_WHITE;
  }
}

.activeLink {
  display: block;
  color: colors.$KEY;
  background: colors.$NEAR_WHITE;
}
