/* stylelint-disable import-notation */
@use '../constants/colors';

@font-face {
  font-family: BMDOHYEON;
  font-style: normal;
  font-weight: normal;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
}
@font-face {
  font-family: GowunDodum-Regular;
  font-style: normal;
  font-weight: normal;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
}

body,
button {
  font-family: GowunDodum-Regular, sans-serif;
  font-feature-settings: 'tnum';
  color: colors.$FONT;
}

input,
textarea {
  font-family: BMDOHYEON, serif;
  font-feature-settings: 'tnum';
  color: colors.$FONT;
}

input[type='search'],
input[type='email'],
input[type='password'] {
  font-family: GowunDodum-Regular, sans-serif;
}

input[type='number'] {
  font-feature-settings: 'tnum';

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
