@use '../../styles/constants/colors';

.chatMain {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.authMain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  background: colors.$KEY;
}
