@use '../../styles/constants/colors';

@mixin userList {
  padding: 18px 0;
  font-size: 20px;
  border-bottom: 1px solid colors.$GRAY_100;
  transition: 0.2s;

  &:hover {
    background: colors.$GRAY_100;
  }
}
